html, body {
	height:100%;
	width:100%;
}

body {
	background-color:#ededed;
	background-image:linear-gradient( to bottom, #ffffff, #ededed );
	background-repeat:no-repeat;	
	background-repeat:repeat-x;
}

/* # Bootstrap Helper classes */
/* 	## Contextual colors */
	.drug-reaction-global .text-primary {
		color:#01519a;
	}
	.drug-reaction-global .text-muted {
		color:#808080;
	}

/* # Heading for landing page */
.drug-reaction-global h1.landing-page-h1 {
	margin-top:0;
	font-size:42px;
}
@media (max-width: 768px) {
	.drug-reaction-global h1.landing-page-h1 {
		margin-top:0;
		font-size:34px;
	}
}

/* # Landing page graphic */
#landing-page-graphic-id {
	margin-top:40px;
	margin-bottom:40px;
}

@media (max-width: 768px) {
	img[id="landing-page-graphic-id"] {
		margin-top:25px !important;
		margin-bottom:25px !important;
		content:url("/demo/assets/img/drug-reaction-landing-page-mobile-graphic.png") !important;
	}
}

.progressbar {
	position:fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display:none;
	background: rgba(0,0,0,.15);
	height: 100%;
	width: 100%;
	padding-top:25%;
	text-align: center;
}
