
<div ng-controller="SearchController" align="center">
	<div class="panel" align="center" style="height: 500px;padding-top: 150px;">
		<div class="panel-heading main-panel-heading">
			<h2>Welcome to OpenFDA</h2>
		</div>
		<div class="panel-body">
			<div id="help" class="input-group">
				<input ng-keypress="($event.which === 13)?search():0" id="suggestMain" type="text" class="form-control" style="width: 500px" ng-model="term" placeholder="Enter Keyword">
				<span style="width: 30px" ng-click="search();" class="input-group-addon">
					<span style="font-size: 16px;cursor: pointer;" class="glyphicon glyphicon-search text-primary"></span>
				</span>
			</div>
		</div>	
	</div>
</div>	